.cc-window {
    z-index: 10000 !important;
    background-color: #f0f0f0 !important;
    color: #333 !important;
    border: 1px solid #333 !important;
    position: fixed !important;
    bottom: 0 !important;
}
.cc-message {
    color: #333 !important;
}
.cc-btn {
    color: #333 !important;
}
.cc-link {
    color: #ffd700 !important;
    text-decoration: underline !important;
}
.cc-deny, .cc-allow {
    background-color: #ffd700 !important;
    color: #333 !important;
    cursor: pointer !important;
}